<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- GDB Debug Option -->
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
     value="gdb -x $(find ur10_moveit_config)/launch/gdb_settings.gdb --ex run --args" />

  <arg name="pos" default='p1' />
  
  <node name="goTo" pkg="my_files" type="goTo" args="$(arg pos)" respawn="false" launch-prefix="$(arg launch_prefix)"  output="screen">
  </node>
  


</launch>
